body {
    background-color: #f5f5f5;
    color: #333;
}

.card {
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    flex-direction: column;
}

button {
    background-color: #ff0083;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

    button:hover {
        background-color: #d63384;
    }

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#hangman-img {
    object-fit: cover;
    height: 450px;
}

.game-card {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .game-card img {
        object-fit: cover;
        height: 450px;
        border-radius: 10px 10px 0 0;
    }

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

    .card-body button {
        width: 100%;
        padding-top: 10px;
        background-color: #ff4081;
        border: none;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .card-body button:hover {
            background-color: #e00067;
        }

.header {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}

    .header h1 {
        margin: 0;
        font-size: 24px;
    }

.nav-link {
    color: #fff;
}

    .nav-link:hover {
        color: #ff4081;
    }

.table th,
.table td {
    border-right: 1px solid #444;
}

    .table th:last-child,
    .table td:last-child {
        border-right: none;
    }


/**  log in from  **/

#games {
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    height: 600px;
    width: 750px;
    max-height: 80%;
    max-width: 60%;
    top: 50%;
    left: 50%;
    padding: 1%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 1px solid #ff0083;
    border-radius: 5px;
    display: none;
    z-index: 2;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 1;
}

    #overlay.active {
        opacity: 2;
        pointer-events: all;
    }

#games.active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25em;
    font-weight: bold;
    color: #343a40;
}

/*memoey game*/
.Memorybody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    margin: 0;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 150px); /* Increase card size */
    grid-gap: 15px; /* Adjust spacing */
}

.card-memory {
    width: 150px; /* Increase card size */
    height: 150px; /* Increase card size */
    background-color: #ff0083;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d; /* Ensure 3D transforms work */
    transform: rotateY(0deg); /* Start with the back side visible */
    transition: transform 0.5s;
}

    .card-memory.flip {
        transform: rotateY(180deg); /* Show the front side when flipped */
    }

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 8px;
    background-color: #ff0083;
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white; /* Ensure text is visible */
    border-radius: 8px;
    background-color: #ff0083; /* Default background color */
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg); /* Hide the front side when card is not flipped */
}

.stats {
    margin-bottom: 20px;
}

.card-memory.correct {
    background-color: #ff0083;
    pointer-events: none;
}

#start-game-btn {
    background-color: #ff0083;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(3, 100px); /* 3 columns with smaller cards */
        grid-gap: 10px;
    }

    .card-memory {
        width: 100px; /* Smaller card size */
        height: 100px; /* Smaller card size */
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .game-board {
        grid-template-columns: repeat(2, 80px); /* 2 columns with even smaller cards */
        grid-gap: 8px;
    }

    .card-memory {
        width: 80px; /* Even smaller card size */
        height: 80px; /* Even smaller card size */
        font-size: 16px;
    }
}

/*hangMan*/
.failedGuess b {
    display: inline; /* Ensure guesses are shown inline */
    margin-right: 5px; /* adds space between guesses */
}
/***********************------------------------------------------------------------*/
.word-display {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    /* Remove default padding */
    margin: 0;
     /* Remove default margin */
    text-align: center; /* Center-align the text */
}

    .word-display .letter {
        display: inline; /* Display letters inline */
        font-size: 24px; /* Adjust font size as needed */
        margin: 5px; /* Add spacing between letters */
    }


#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
}

#button-container button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #ff4081;
    color: white;
    cursor: pointer;
    flex: 1 1 auto; /* Allow buttons to grow/shrink */
    max-width: 50px; /* Max width for each button */
}

    #button-container button:hover {
        background-color: #e00067;
    }

/* Media query for smaller screens */
@media (max-width: 600px) {
    #button-container button {
        font-size: 14px;
        width: 30px;
        height: 30px;
    }

    .keyboard-row {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

h6 {
    padding-top: 5px;
    color: white;
    text-align: center;
    font-size: 36px;
}

/*quiz*/
.question {
    background-color: #00000021;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#show-quiz {
    color: black;
    background-color: #d63384;
}

.pink {
    color: #ff0083;
}

.bold {
    font-weight: 900;
}

.pinkB {
    background-color: #ff0083;
}
