body {
    text-align: left;
    background-color: #121212;
    color: #fff;
    overflow-x: hidden;
}
.nav-link {
    font-size: 1.1em;
}

.hero {
    /*background: url('https://via.placeholder.com/1500x500') no-repeat center center;*/
    color: #fff;
    padding: 100px 0;
}

.books .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #2c2c2c;
    color: #fff;
}

    .books .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }

.books .card-title, .books .card-text {
    color: #fff;
}

.books .btn-primary {
    background-color: #f39c12;
    border-color: #f39c12;
}

    .books .btn-primary:hover {
        background-color: #e67e22;
        border-color: #e67e22;
    }

footer {
    background-color: #1c1c1c;
}

    footer p {
        margin: 0;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.books .card {
    animation: fadeIn 1s ease-in-out;
}

/**  log in from  **/

#logInForm {
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    height: 400px;
    width: 400px;
    max-height: 75%;
    max-width: 50%;
    top: 50%;
    left: 50%;
    padding: 1%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 1px solid lightblue;
    border-radius: 5px;
    display: none;
    z-index: 2;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 1;
}
#overlay.active {
    opacity: 2;
    pointer-events: all;
}
#logInForm.active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}
.close-button {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25em;
    font-weight: bold;
    color: #343a40;
}
#logInButton{
    display:block;
}
.signup, .login {
    cursor: pointer;
}
/* nav bar */
li {
    cursor: pointer;
}

#logoutColor {
    color: darkred;
}

/* books */
.card-img-top{
    height: 150px;
    width: 100px;
}
.book-card {
    height: 350px;
    width: 250px;
    align-items: center
}
.buyABookBtn {
    float: right;
}
#pinkStars {
    color: #ff0083
}

/* Ensure the dropdown is wide enough and contents are aligned */
.dropdown-menu {
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    white-space: normal;
}

.dropdown-item {
    padding: 10px;
    word-wrap: break-word; 
}

    .dropdown-item button {
        margin-top: 5px; 
    }


 /*admin page*/
.admin-hero {
    background-color: #121212;
}

.admin-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.admin-grid-item {
    flex: 1;
    background-color: #121212;
    color: white;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

    .admin-grid-item:hover {
        background-color: #1c1c1c;
    }

.admin-display-4 {
    margin: 0;
    font-size: 2.5rem;
}

.adminBookTable, .adminUsersTable, .adminAuthorTable {
    width: 100%;
    margin: 0 auto;
    background-color: #121212;
    color: #ff0083;
    text-align: center;
}

.table-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px;
    color: #fff;
}

.table-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#userBooksAdminPage {
    text-align: left;
    padding-left: 15px;
}

#activityBtn {
    color: #ff0083;
    background-color: #2c2c2c;
}
/*quiz*/
.question {
    background-color: #00000021;
    color: #fff; 
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#show-quiz {
    color: black;
    background-color: #d63384;
}

/*top 5 books*/
.top-5-img{
    height: 250px;
    width: 200px;
    margin-left: 20%;
}
.top-books-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 18%;
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}
.top-5-books{
    padding-top: 5%;
}
/*head bubble*/
.bubble-head-left {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -18%;
    left: -14%;
    z-index: -1
}
.bubble-head-left-s {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 4.5%;
    left: 17%;
    z-index: -1
}
.bubble-head-right {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -18%;
    right: -13%;
    z-index: -1
}
/*star animation*/
.top5-logo {
    position: absolute;
    width: 130px;
    height: 130px;
    top: -20%;
    left: 20%;
    animation: rotate 5s linear infinite;
    z-index: 1
}
.top-5-star{
    font-size: 1rem;
    display: block;
}
.star {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon( 50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35% );
    background: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    position: relative;
}

    .star::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: inherit;
        background: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100% );
        background-size: 200% 200%;
        animation: glow 5s linear infinite;
        z-index: -1;
    }

@keyframes glow {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 200%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    0.5% {
        transform: rotate(30deg);
    }
    10% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*my books*/
.disabled {
    pointer-events: none; /* Prevents any mouse events */
    opacity: 0.5; /* Makes the div appear faded */
}
#quiz-container {
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    height: 500px;
    width: 500px;
    max-height: 75%;
    max-width: 50%;
    top: 50%;
    left: 50%;
    padding: 1%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 1px solid lightblue;
    border-radius: 5px;
    display: none;
    z-index: 2;
    overflow: hidden;
}
#quiz-container.active{
    display: block;
    transform: translate(-50%, -50%) scale(1);
}
.pink {
    color: #ff0083;
}
.bold{
    font-weight: 900;
}
.pinkB {
    background-color: #ff0083;
}
.start-quiz{
    width: 50%;
    margin: 0 auto
}
.btn-back, .btn-next{
    width:35%;
    margin: 0 5%;
    display: inline-block;

}
.question {
    color: black;
}
#resultContainer {
    background-color: #e0e0e0c7;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 10%;
}
/*search books*/
.search-books-bar {
    border-radius: 5px;
    margin-bottom: 20px;
}
.book-card-search, .card-img-search {
    height: 250px;
    width: 150px;
    align-items: center;
}

/*review a book */
#reviewABook {
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    height: 500px;
    width: 500px;
    max-height: 75%;
    max-width: 50%;
    top: 50%;
    left: 50%;
    padding: 1%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 1px solid lightblue;
    border-radius: 5px;
    display: none;
    z-index: 2;
    overflow: hidden;
}
#reviewABook.active{
    display: block;
    transform: translate(-50%, -50%) scale(1);
}
