
clientSide/.vs/clientSide/FileContentIndex/7893bed9-6f6a-4975-92e3-8193628e12fc.vsidx
clientSide/.vs/clientSide/FileContentIndex/write.lock
clientSide/.vs/clientSide/FileContentIndex/1ece1586-4071-4581-ae6e-63855db392e9.vsidx
clientSide/.vs/clientSide/FileContentIndex/ca85a902-4bf1-4eaa-bbb6-a870ef27f8a2.vsidx
