
serverSide/DAL/dali lama
clientSide/.vs/clientSide/FileContentIndex/beb4a4f0-e1eb-41ba-8207-318d4d4cfdd6.vsidx
serverSide/.vs/serverSide/FileContentIndex/75ff087e-d7fd-4e4b-bec0-5947e0fbc956.vsidx
serverSide/.vs/serverSide/FileContentIndex/cdadf7a1-f0ad-4868-865c-4c6a56072c95.vsidx
clientSide/.vs/clientSide/FileContentIndex/1eee2aaf-4e4b-45cd-b385-08451fc2f1de.vsidx
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfo.cs
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfoInputs.cache
serverSide/serverSide/obj/Debug/net6.0/serverSide.assets.cache
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfo.cs
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfoInputs.cache
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfo.cs
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfoInputs.cache
