
serverSide/DAL/dali lama
clientSide/.vs/clientSide/FileContentIndex/9a0cf26a-9840-4877-9fdd-f2adb5ed96fe.vsidx
serverSide/.vs/serverSide/FileContentIndex/63cca06a-6648-421f-b47a-7281b6a96222.vsidx
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfoInputs.cache
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfo.cs
serverSide/serverSide/obj/Debug/net6.0/serverSide.AssemblyInfoInputs.cache
serverSide/serverSide/obj/Debug/net6.0/serverSide.assets.cache
serverSide/serverSide/obj/Debug/net6.0/serverSide.GeneratedMSBuildEditorConfig.editorconfig
